:root{
  --orange: #ee5858;
  
}
.searchbar{
  display: flex;
  justify-content: center;
  padding-block: 20px;
  background-color: var(--orange);
}
input{
  border: none;
  height: 25px;
}
.searchbtn{
  border: none;
  background: dodgerblue;
  color: white;
}
.container{
  border-radius: 5px;
  background: dodgerblue;
display: flex;
justify-content: space-between;
padding-inline: 10px;
padding-block: 20px;
margin: 20px 60px 40px 60px;
text-transform: capitalize;
color: white;
}
.heading{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 40px 20px 40px;
}